{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block head_block %}
	<link href="{% static 'css/gallery.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block title %}
	Wedding Picture Gallery
{% endblock %}

{% block body_block %}
	<div class="hero-unit">
		<h2><small><center>Here are some of our wedding pictures. <br /><br /></center></h2>
		<br />
		Page: 
		{% for pg in page_list %}
			{% if pg == curr_page %}
				{{pg}}&nbsp
			{% else %}
				<a href="{% url 'wedding.views.gallery' pg %}">{{ pg }}</a> &nbsp
			{% endif %}
		{% endfor %}

		<br /><br />
		{% if pics %}
			<div class="row">
			<ul class="thumbnails">
			{% for p in pics %}
			<div class="col-xs-6 col-md-3">
				<a class="thumbnail" style="height: 200px; width: 200px; display: block;" id="single_image" href="{% file_url p.pic_name %}">
					{% secure_tn p.pic_name %}
				</a>
			</div>
			{% endfor %}
			</ul></div>
		{% endif %}
		<div>
			Page: 
			{% for p in page_list %}
				{% if p == curr_page %}
					{{p}} &nbsp
				{% else %}
					<a href="{% url 'wedding.views.gallery' p %}">{{ p }}</a> &nbsp
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block scriptblock %}
<script type="text/javascript" src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
	<script>
		$(document).ready(function() {
					/* This is basic - uses default settings */
					$("a#single_image").fancybox();
						/* Using custom settings */
						$("a#inline").fancybox({
									'hideOnContentClick': true
										});
							/* Apply fancybox to multiple items */
							$("a.group").fancybox({
										'transitionIn'	:	'elastic',
												'transitionOut'	:	'elastic',
														'speedIn'		:	600, 
																'speedOut'		:	200, 
																		'overlayShow'	:	false
																			});
								
		});
	</script>
{% endblock %}
