{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block head_block %}
	<link href="{% static 'css/gallery.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
	Wedding Picture Gallery
{% endblock %}

{% block body_block %}
	<div class="hero-unit">
		<h2><center>Here are some of our wedding pictures.</center></h2>
		<br />
		{% if pics %}
			<ul class="gallery">
			{% for p in pics %}
				<li class="thumb"><a href="{% url 'wedding.views.pic' p.pic_name %}">{% secure_tn p.pic_name %}</a> </li>
			{% endfor %}
			</ul>
		{% endif %}
				
	</div>
{% endblock %}

{% block scriptblock %}
	<script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
{% endblock %}
