.gallery {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.gallery li {
	float: left;
	width: 25%;
	padding: 4px;
}

.submissionField {
	width = 800px;
	height = 390px;
	border: 1px solid;
	padding: 5px;
}
