.gallery {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.gallery li {
	float: left;
	width: 25%;
	padding: 4px;
}

.sf {
	width: 90%;
	resize: none;
}

.container-narrow {
	margin: 0 auto;
	max-width: 770px;
}

.container-narrow > hr {
	margin: 30px 0;
}
