{% extends 'base.html' %}
{% load static %}
{% block head_block %} 
	<link href="{% static 'css/gallery.css' %}" rel="stylesheet">
{%endblock%}
{% block title %} {{post.title}} {%endblock%}

{%block body_block %}
	<div class="container-narrow">
		<div class="content">
		<div class="page-header">
			<h1><p>{{post.title}}</p></h1>
			<h2><p><small>Created by {{post.creator.username}} at {{post.created}}</small></p></h2>
			{% if user.username == post.creator.username %}
				<a href="{% url 'blog.views.blogpost' pk %}">Edit</a>
			{% endif %}
		</div><!-- page-header -->
		<div class="entry-content">
			{{body | safe}} 
			<br/>

			<a href="{% url 'blog.views.index' %}">Return to index</a>
		</div><!-- entry-content -->
		</div><!-- content -->
	</div> <!-- container narrow -->
{% endblock %}
