{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block body_block %}
<div class="jumbotron">
	<div class="container">
		<h2>About me!</h2><br />
		<p>
		I am johnnydiabetic, and I built this website with
        <a href="http://www.djangoproject.com">Django</a> as a <a href="https://github.com/jd1123/johnnydiabetic">small project</a>.
        It is a work in progress.
        <br><br>
        After studying mathematics in college, I went off into the world to make a career in finance. I lived in New York,
        then Houston, Texas and I have been working in the energy markets for nearly eight years. I like finance, energy,
        technology, and games of chance. I enjoy reading fiction during the summer, and non-fiction during the winter.
        <br /><br />
        I recently married a wonderful woman named Jules. She studied engineering and mathematics in college, and
        coincidentally also went to work in the energy markets. That is how we met, and the rest is history. She is
        currently working at an energy consultancy, and she seems to like it very much. Outside of work, she enjoys gymnastics,
        family television shows, and tennis. Despite what I tell her, she is more althletic than I am. She enjoys reading
        non-fiction almost exclusively.
        <br /><br />
        We recently moved back to the New York area and are building a life together in Connecticut. It certainly is nice here,
        but sometimes we really miss Texas.
        <br /><br />
		This website has a bunch of silly little things that I decided I wanted to write. The apps (available at the top via the
		navbar) include <a href="{% url 'blog.views.index' %}">my blog</a>, <a href="{% url 'forum.views.forumlist' %}">a forum</a>,
		a <a href="{% url 'bloodsugar.views.root' %}">blood sugar monitoring app</a>
		and <a href="{% url 'wedding.views.gallery' %}">my wedding pictures</a>. None of these are completed, mostly because I am
		having a hard time focusing with work and life. But I am having fun making small improvements each day and hopefully I
		will learn a bunch in the process.
		<br /><br />
        If you have anything to say I'm happy to hear from you, so please feel free to
        <a href="mailto:johnnydiabetic@gmail.com">email</a> me.
		</p>
	</div>	
</div>


{% endblock %}
