{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="{% static 'css/footer.css' %}" rel="stylesheet">
    	{% block head_block %}
    	{% endblock %}
    	<title>johnnydiabetic.com | {% block title %}This should be replaced!{% endblock %}</title>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-inverse" role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="{% url 'basefunctions.views.root' %}">Johnnydiabetic.com</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		       	            	
	            {% if user.is_authenticated %}
	            	<li><a href="#">{{ user.username }}</a></li>
	            	<li><a href="{% url 'basefunctions.views.user_logout' %}">Logout</a></li>
	            {% else %}
	            	<li><a href="{% url 'basefunctions.views.user_login' %}">Login</a></li>
	            {% endif %}
		        <li><a href="{% url 'basefunctions.views.about' %}">About</a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Apps <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="{% url 'wedding.views.gallery' %}">Wedding Pics</a></li>
		            <li><a href="{% url 'blog.views.index' %}">Blog</a></li>
		            <li><a href="{% url 'forum.views.forumlist' %}">Forum</a></li>
		          </ul>
		        </li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		
		<div class="container-fluid">
			<div class="row">
				<!-- sidebar -->
				<div class="col-md-1">
					<a href="https://github.com/jd1123"><img class="img-responsive" src="{% static 'img/johnnydiabetic.png' %}"></a>
					<center><a href="https://github.com/jd1123">johnnydiabetic</a></center><br />
					<center><img class="img-responsive" src="{% static 'img/julia.png' %}"></center>
					<center>julia</center>
				</div>
				<!-- main window -->
				<div class="col-md-11">
					{% block body_block %}
					{% endblock %}
				</div>
			</div>
		</div>

    	<script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
    	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		{% block scriptblock %}
		{% endblock %}
	<br />	
	
	
	<div id="footer">
		<div class="container">
		    <p class="muted credit">&copy; Johnnydiabetic 2014</p>
		</div>
	</div>

	</body>
</html>
