{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block body_block %}
	<div class="jumbotron">
	<div class="container">
		{% if user.is_authenticated %}
		Welcome back {{ user }}!<br />
		<a href="{% url 'basefunctions.views.user_logout' %}">Logout</a>
		{% else %}
		<div class="row">
			<div class="col-md-3">
			<h3>Login</h3>
			<form id="login_form" method="post" action="/login/">
				{% csrf_token %}
				<input class="form-control" type="text" name="username" value="" size="50" placeholder="Username"/>
				<br />
				<input class="form-control" type="password" name="password" value="" size="50" placeholder="Password"/>
				<br />
				<input class="hidden" name="next" value = "{{ next }}" />
				<input class="btn btn-primary" type="submit" value="Login" />
			</form>
		</div>
		{%endif%}	
		</div>
	</div>
	</div>
	
{% endblock %}
