{% extends 'base.html' %}

{% load static %}
{% block title %}Blood Sugar Monitor {% endblock %}

{% block body_block %}
<div class="container">
	<h3>This is the blood sugar app.<br>
	<small>Look, download or post</small>
	</h3>
	<br />
	<div class="container">

	{% if user.is_authenticated %}
		<form id="bloodsugarentry" method="post" action="/bloodsugar/">
			{% csrf_token %}
			<h4>Enter a reading</h4>
			<input type="number" class="input-large" name="reading" placeholder="Reading" value="reading" />
			<input class="btn btn-primary" type="submit" value="Post" />
		</form>
	{% endif %}
	</div>

	<h3><small>Lastest Stats:</small></h3>
	Last reading: <b>{{ last_reading }}</b> taken at {{ tm }}  <br /><br />
	14 Reading Avg: <b>{{ avg_14 }}</b> Stdev: <b>{{ stdev_14 }}</b><br />
	30 Reading Avg: <b>{{ avg_30 }}</b> Stdev: <b>{{stdev_30}}</b><br />
	All readings: <b>{{ all_avg }}</b> Stdev: <b> {{ all_stdev }} </b><br />
	<br />
	High Reading: {{high}}<br />
	Low Reading: {{low}}<br />
	Total Readings: {{N}}<br />


	<div class="container">	
		<img src="{% static 'bschart.png' %}">
		{% if user.is_authenticated %}<br>
			<a href="{%url 'bloodsugar.views.data' %}">Download this data</a>
		{% endif %}
	</div>

	<br><br>
</div>

{% endblock %}
