{% extends 'base.html' %}

{% load static %}
{% block title %}Blood Sugar Monitor {% endblock %}

{% block body_block %}
<div class="container">
	<h3>This is the blood sugar app.</h3>
	<br />
	<h3><small>Lastest Stats:</small></h3>
	Last reading: <b>{{ last_reading }}</b> taken at {{ tm }}  <br />
	14 Reading Avg: {{ avg_14 }} <br />
	30 Reading Avg: {{ avg_30 }} <br />
	<img src="{% static 'bschart.png' %}">
	<br><br>
	<div class="container">

	{% if user.is_authenticated %}
		<form id="bloodsugarentry" method="post" action="/bloodsugar/">
			{% csrf_token %}
			<h4>Enter a reading</h4>
			<input type="number" class="input-large" name="reading" placeholder="Reading" value="reading" />
			<input class="btn btn-primary" type="submit" value="Post" />
		</form>
	{% endif %}
	</div>
</div>

{% endblock %}
